<div class="hero-unit" style="margin-top:70px;">
  <h1>Dear father</h1>
  <p>I hope, that after viewing these pages you believed, that if you see me only relaxing it's not waranty that I am doing nothing all days. And, as you see, I didn't forget about sites, but unfortunatly I lost my previous work from Itransition and in future will start smth new according to these requirements. I am not a quitter, I really enjoy working with sites and programs, simply believe in me!</p>
  <p>
    <a class="btn btn-primary btn-large" href=<%= posts_path %>>
      Happy Birthday!
    </a>
  </p>
</div>
